
@{
    ViewBag.Title = "Index";
}

<div id="div1" class="col-lg-4 mybox">


</div>
<div id="div2" class="col-lg-4 mybox">


</div>
<div id="div3" class="col-lg-4 mybox">


</div>
<div class="col-lg-4 mybox">


</div>
<div class="col-lg-4 mybox">


</div>
<div class="col-lg-4 mybox">


</div>


@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {


            partialLoad("/DashBoard/One", "#div1");
            partialLoad("/DashBoard/Two", "#div2");
            partialLoad("/DashBoard/Three", "#div3");

        });

        function partialLoad(url, target) {

            $.ajax(url, {
                success: function (data) {
                    //alert("success  " + data);

                    $(target).html(data);
                }
            });
        }



    </script>

} 