
@{
    ViewBag.Title = "Index";
}

<div class="col-lg-4 mybox">


</div>
<div class="col-lg-4 mybox">


</div>
<div class="col-lg-4 mybox">


</div>
<div class="col-lg-4 mybox">


</div>
<div class="col-lg-4 mybox">


</div>
<div class="col-lg-4 mybox">


</div>


@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            alert("ready");

        });

        function partialLoad()
        


    </script>
    
    } 